Repository adsbypasser/adsbypasser, pull requests merged in 2018-04, with the labels that each got.

#2011 fix for pixsense
  src/sites/image/pixsense.net.js
Labels: enhancement, type:image

#2014 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2018 [enhancement] Add aw-games.net
  src/sites/link/aw-games.net.js
Labels: enhancement, type:link

#2022 viralukk.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2027 Openload
  src/sites/file/openload.co.js
Labels: bug, type:file

#2030 clk.press
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2032 Update pixxxels.org.js
  src/sites/image/pixxxels.org.js
Labels: enhancement, retired, type:image

#2033 Update reklama.js
  src/sites/image/reklama.js
Labels: enhancement, retired, type:image

#2034 Update chili.js
  src/sites/image/chili.js
Labels: enhancement, retired, type:image

#2036 gsul, getsl, gsur, (me or in)
  src/sites/link/gsurl.me.js
Labels: enhancement, type:link

#2037 cutearn.ca
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2038 shrt10.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2047 apasih.pw
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2048 Update imx.to
  src/sites/image/reklama.js
Labels: enhancement, type:image
