Repository adsbypasser/adsbypasser, pull requests merged in 2018-06, with the labels that each got.

#2339 shrinkearn.com
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2328 fix for pnd.tl
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2318 Delete bilder-space.js
  src/sites/image/bilder-space.js
Labels: retired, type:image

#2319 Update b4he.js
  src/sites/image/fullimg.com.js
Labels: retired, type:image

#2320 Update cf.js
  src/sites/image/imadul.com.js
Labels: retired, type:image

#2321 Update chili.js
  src/sites/image/pixhost.to.js
Labels: retired, type:image

#2322 Update imagescream.com.js
  src/sites/image/imagescream.com.js
Labels: retired, type:image

#2323 Update imgfantasy.js
  src/sites/image/imgfantasy.js
Labels: retired, type:image

#2324 Update imgsee.me.js
  src/sites/image/imgsee.me.js
Labels: retired, type:image

#2325 Update mihalism.js
  src/sites/image/mihalism.js
Labels: retired, type:image

#2329 Delete topload.pro.js
  src/sites/link/topload.pro.js
Labels: retired, type:link

#2331 Delete link2you.ru.js
  src/sites/link/link2you.ru.js
Labels: retired, type:link

#2332 Delete ilovebanten.com.js
  src/sites/link/ilovebanten.com.js
Labels: retired, type:link

#2333 Delete gxp.so.js
  src/sites/link/gxp.so.js
Labels: retired, type:link

#2334 Delete dd.ma.js
  src/sites/link/dd.ma.js
Labels: retired, type:link

#2336 Delete adlock.org.js
  src/sites/link/adlock.org.js
Labels: retired, type:link

#2340 Update bc.vc.js
  src/sites/link/bc.vc.js
Labels: retired, type:link

#2342 Delete cashfly.js
  src/sites/link/cashfly.js
Labels: retired, type:link

#2326 earn-url.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2327 tny.ec
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2330 Update seomafia.net.js
  src/sites/link/seomafia.net.js
Labels: enhancement, type:link

#2335 Update coinurl.js
  src/sites/link/coinurl.js
Labels: enhancement, type:link

#2348 fix for tl.tc
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2343 shon.xyz & likn.xyz
  src/sites/link/fas.li.js
Labels: enhancement, type:link

#2344 Update sh.st.js
  src/sites/link/sh.st.js
Labels: retired, type:link

#2345 Update linkbucks.js
  src/sites/link/linkbucks.js
Labels: retired, type:link

#2347 Update linkdrop.net.js
  src/sites/link/linkdrop.net.js
Labels: retired, type:link

#2352 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: bug, type:link

#2353 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2359 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2385 Fix mirrorcreator.com
  src/sites/file/mirrorcreator.com.js
Labels: bug, type:file

#2410 Delete lix.in.js
  src/sites/link/lix.in.js
Labels: retired, type:link
