Repository adsbypasser/adsbypasser, pull requests merged in 2018-02, with the labels that each got.

#1858 Update reklama.js
  src/sites/image/reklama.js
Labels: bug, type:image

#1863 Openload - #1856
  src/sites/file/openload.co.js
Labels: bug, type:file

#1884 new domain for adshort.im on linkdrop.net.js
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1885 new domain for gsurl on gsurl.me.js
  src/sites/link/gsurl.me.js
Labels: enhancement, type:link

#1894 update on linkdrop.net.js >> adpop.me
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1895 update on linkdrop.net.js >> wi.cr
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1897 cut-w.in & cut-earn.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1898 cuon.io
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1899 short.pe
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1900 remove zez.io
  src/sites/link/linkdrop.net.js
Labels: retired, type:link

#1901 zeiz.me
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1902 srt.am
  src/sites/link/short.am.js
Labels: enhancement, type:link

#1905 coshink.co
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1906 urlcloud.us & mitly.us
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1907 3rabshort.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1908 new domains for gsurl >> gsul.me & getsl.me & gsur.in
  src/sites/link/gsurl.me.js
Labels: enhancement, type:link

#1909 adbitly.in & gg-l.xyz (same site)
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1910 tui.click
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1911 shink.xyz & mlink.club
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1912 dzurl.ml
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1913 zlshorte.net & igram.im
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1914 trlink.in & wolink.in
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1915 bit-url.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1916 git.tc
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1917 link4.me
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1922 delete coinlink.co.js, it is better suited in linkdrop.net.js
  src/sites/link/coinlink.co.js
Labels: bug, type:link

#1921 fixes coinlink.co
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#1923 premiumzen.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1926 fixes megaurl.in
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1931 Update coeg.in.js and otoviral.racing.js
  src/sites/link/coeg.in.js
  src/sites/link/otoviral.racing.js
Labels: enhancement, type:link

#1933 fixes cut4links.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#1935 Add plantaheim.web.id
  src/sites/link/plantaheim.web.id.js
Labels: enhancement, type:link

#1934 Add 1ink.cc
  src/sites/link/1ink.cc.js
Labels: enhancement, type:link

#1939 Update clictune.com.js
  src/sites/link/clictune.com.js
Labels: bug, type:link

#1946 adslink.pw
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link
