Repository adsbypasser/adsbypasser, pull requests merged in 2018-12, with the labels that each got.

#2648 added openload new tld (oload.fun)
  src/sites/file/openload.co.js
Labels: enhancement, pr_merged, type:file

#2651 new method for imgfile.net & etc.
  src/sites/image/pixsense.net.js
Labels: bug, pr_merged, type:image

#2673 Added stt.awsubs.co
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link
