Repository adsbypasser/adsbypasser, pull requests merged in 2018-05, with the labels that each got.

#2055 cutl.in
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2059 cut4link.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2060 mikymoons.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2061 twik.pw
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2062 spamlink.org
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2063 pnd.tl
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2070 top9space.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2071 spaste.com weak captcha solver
  src/sites/link/spaste.com.js
Labels: enhancement, type:link

#2085 Update reklama.js
  src/sites/image/reklama.js
Labels: bug, type:image

#2087 3bst.co & 3rabcut.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2091 shortit.ca
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2102 Update linkbucks.js
  src/sites/link/linkbucks.js
Labels: retired, type:link

#2108 Update mihalism.js
  src/sites/image/mihalism.js
Labels: retired, type:image

#2109 Update reklama.js
  src/sites/image/reklama.js
Labels: retired, type:image

#2111 Update cf.js
  src/sites/image/cf.js
Labels: retired, type:image

#2113 Update picfox.js
  src/sites/image/picfox.js
Labels: retired, type:image

#2125 tocdo.in
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2124 Fix locked page action on adf.ly
  src/sites/link/adf.ly.js
Labels: bug, type:link

#2127 vy.adsvy.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2128 fixed clik.pw
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2129 royurls.bid
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2131 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2132 Update linkdrop.net.js
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2134 fixed tmearn.com
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2138 Delete 1pics.js
  src/sites/image/1pics.js
Labels: retired, type:image

#2139 Delete chevereto.js
  src/sites/image/chevereto.js
Labels: retired, type:image

#2140 Delete crd.ht.js
  src/sites/image/crd.ht.js
Labels: retired, type:image

#2141 Update 1dl.biz.js
  src/sites/image/1dl.biz.js
Labels: retired, type:image

#2142 Update dailyss.net.js
  src/sites/image/dailyss.net.js
Labels: retired, type:image

#2143 Update depic.me.js
  src/sites/image/depic.me.js
Labels: retired, type:image

#2144 Delete ehdwallpapers.org.js
  src/sites/image/ehdwallpapers.org.js
Labels: retired, type:image

#2145 Update emptypix.js
  src/sites/image/emptypix.js
Labels: retired, type:image

#2146 Delete gallerynova.se.js
  src/sites/image/gallerynova.se.js
Labels: retired, type:image

#2147 Delete maxmirror.com.js
  src/sites/file/maxmirror.com.js
Labels: retired, type:file

#2148 Delete larashare.com.js
  src/sites/file/larashare.com.js
Labels: retired, type:file

#2149 Delete iori.us.js
  src/sites/file/iori.us.js
Labels: retired, type:file

#2150 Update firedrive.com.js
  src/sites/file/firedrive.com.js
Labels: retired, type:file

#2152 Delete anafile.com.js
  src/sites/file/anafile.com.js
Labels: retired, type:file

#2154 Delete ysf.pl.js
  src/sites/link/ysf.pl.js
Labels: retired, type:link

#2155 Delete zo.mu.js
  src/sites/link/zo.mu.js
Labels: retired, type:link

#2156 Delete zzz.gl.js
  src/sites/link/zzz.gl.js
Labels: retired, type:link

#2158 Delete x.pixfarm.net.js
  src/sites/image/x.pixfarm.net.js
Labels: retired, type:image

#2159 Delete vvcap.js
  src/sites/image/vvcap.js
Labels: retired, type:image

#2161 Update reklama.js
  src/sites/image/reklama.js
Labels: retired, type:image

#2164 itiad.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2166 Update qrrro.com.js
  src/sites/image/qrrro.com.js
Labels: retired, type:image

#2169 Delete pixhub.eu.js
  src/sites/image/pixhub.eu.js
Labels: retired, type:image

#2170 Delete picmoe.net.js
  src/sites/image/picmoe.net.js
Labels: retired, type:image

#2171 Delete pic2profit.com.js
  src/sites/image/pic2profit.com.js
Labels: retired, type:image

#2172 Update mihalism.js
  src/sites/image/mihalism.js
Labels: retired, type:image

#2173 Delete javcity.com.js
  src/sites/image/javcity.com.js
Labels: retired, type:image

#2174 Delete imgtheif.com.js
  src/sites/image/imgtheif.com.js
Labels: retired, type:image

#2175 Update imgsure.com.js
  src/sites/image/imgsure.com.js
Labels: retired, type:image

#2177 Update imgpaying.com.js
  src/sites/image/imgpaying.com.js
Labels: retired, type:image

#2178 Delete imgnova.xyz.js
  src/sites/image/imgnova.xyz.js
Labels: retired, type:image

#2179 Delete imglocker.com.js
  src/sites/image/imglocker.com.js
Labels: retired, type:image

#2180 Update imgfantasy.js
  src/sites/image/imgfantasy.js
Labels: retired, type:image

#2181 Delete imgbin.me.js
  src/sites/image/imgbin.me.js
Labels: retired, type:image

#2183 Delete img3x.net.js
  src/sites/image/img3x.net.js
Labels: retired, type:image

#2184 Delete img24.org.js
  src/sites/image/img24.org.js
Labels: retired, type:image

#2185 Delete imagik.fr.js
  src/sites/image/imagik.fr.js
Labels: retired, type:image

#2186 Update imagevenue.js
  src/sites/image/imagevenue.js
Labels: retired, type:image

#2187 Update imagetwist.js
  src/sites/image/imagetwist.js
Labels: retired, type:image

#2188 Update imagesnake.com.js
  src/sites/image/imagesnake.com.js
Labels: retired, type:image

#2189 Update imagescream.com.js
  src/sites/image/imagescream.com.js
Labels: retired, type:image

#2190 refact imageporter.com.js
  src/sites/image/imageporter.com.js
Labels: enhancement, type:image

#2224 add missing backslash in segmentnext.com.js
  src/sites/link/segmentnext.com.js
Labels: bug, type:link

#2285 fix for cuon.io
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2191 Delete imagepix.js
  src/sites/image/imagepix.js
Labels: retired, type:image

#2192 Delete imageheli.com.js
  src/sites/image/imageheli.com.js
Labels: retired, type:image

#2193 Delete imagearn.com.js
  src/sites/image/imagearn.com.js
Labels: retired, type:image

#2194 Update image18.org.js
  src/sites/image/image18.org.js
Labels: retired, type:image

#2195 Delete hentaimg.js
  src/sites/image/hentaimg.js
Labels: retired, type:image

#2196 Update cf.js
  src/sites/image/cf.js
Labels: retired, type:image

#2197 Delete blackcatpix.js
  src/sites/image/blackcatpix.js
Labels: retired, type:image

#2198 Update b4he.js
  src/sites/image/b4he.js
Labels: retired, type:image

#2199 Delete avenuexxx.com.js
  src/sites/image/avenuexxx.com.js
Labels: retired, type:image

#2200 Update 2i.js
  src/sites/image/2i.js
Labels: retired, type:image

#2204 shrten.xyz
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2207 Delete xlink.me.js
  src/sites/link/xlink.me.js
Labels: retired, type:link

#2208 Delete wzzq.me.js
  src/sites/link/wzzq.me.js
Labels: retired, type:link

#2209 Delete victly.com.js
  src/sites/link/victly.com.js
Labels: retired, type:link

#2210 Update upan.so.js
  src/sites/link/upan.so.js
Labels: retired, type:link

#2203 crus.io & 4cut.io
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2211 Delete ultshare.com.js
  src/sites/link/ultshare.com.js
Labels: retired, type:link

#2212 Delete typ.me.js
  src/sites/link/typ.me.js
Labels: retired, type:link

#2213 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: retired, type:link

#2214 Delete streamingfrench.net.js
  src/sites/link/streamingfrench.net.js
Labels: retired, type:link

#2215 Delete stash-coins.com.js
  src/sites/link/stash-coins.com.js
Labels: retired, type:link

#2216 Delete srnk.co.js
  src/sites/link/srnk.co.js
Labels: retired, type:link

#2217 Delete smll.io.js
  src/sites/link/smll.io.js
Labels: retired, type:link

#2218 Delete shortskip.com.js
  src/sites/link/shortskip.com.js
Labels: retired, type:link

#2220 Update shortenurl.tk.js
  src/sites/link/shortenurl.tk.js
Labels: retired, type:link

#2221 Update shink.in.js
  src/sites/link/shink.in.js
Labels: retired, type:link

#2222 Update sh.st.js
  src/sites/link/sh.st.js
Labels: retired, type:link

#2223 Delete setlinks.us.js
  src/sites/link/setlinks.us.js
Labels: retired, type:link

#2225 Delete robo.us.js
  src/sites/link/robo.us.js
Labels: retired, type:link

#2226 Delete riurl.com.js
  src/sites/link/riurl.com.js
Labels: retired, type:link

#2227 Delete rijaliti.info.js
  src/sites/link/rijaliti.info.js
Labels: retired, type:link

#2228 Delete reffbux.js
  src/sites/link/reffbux.js
Labels: retired, type:link

#2229 Delete rapeit.net.js
  src/sites/link/rapeit.net.js
Labels: retired, type:link

#2230 Delete oxyl.me.js
  src/sites/link/oxyl.me.js
Labels: retired, type:link

#2231 Delete ohleech.com.js
  src/sites/link/ohleech.com.js
Labels: retired, type:link

#2313 fix for icutit.ca
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2314 fix for adpop.me
  src/sites/link/linkdrop.net.js
Labels: bug, type:link

#2232 Delete mt0.org.js
  src/sites/link/mt0.org.js
Labels: retired, type:link

#2233 Delete moe.god.jp.js
  src/sites/link/moe.god.jp.js
Labels: retired, type:link

#2234 Delete madlink.sk.js
  src/sites/link/madlink.sk.js
Labels: retired, type:link

#2235 Update mantap.in.js
  src/sites/link/mantap.in.js
Labels: retired, type:link

#2236 Delete looy.in.js
  src/sites/link/looy.in.js
Labels: retired, type:link

#2237 Delete loook.ga.js
  src/sites/link/loook.ga.js
Labels: retired, type:link

#2241 Delete ilix.in.js
  src/sites/link/ilix.in.js
Labels: retired, type:link

#2243 Delete leechbd.tk.js
  src/sites/link/leechbd.tk.js
Labels: retired, type:link

#2244 Delete link-protector.com.js
  src/sites/link/link-protector.com.js
Labels: retired, type:link

#2245 Delete link2dollar.com.js
  src/sites/link/link2dollar.com.js
Labels: retired, type:link

#2246 Delete cvc.la.js
  src/sites/link/cvc.la.js
Labels: retired, type:link

#2247 Delete boxcash.net.js
  src/sites/link/boxcash.net.js
Labels: retired, type:link

#2250 Delete anonymbucks.com.js
  src/sites/link/anonymbucks.com.js
Labels: retired, type:link

#2251 Delete 3ra.be.js
  src/sites/link/3ra.be.js
Labels: retired, type:link

#2252 Delete 2ty.cc.js
  src/sites/link/2ty.cc.js
Labels: retired, type:link

#2253 Delete adjet.biz.js
  src/sites/link/adjet.biz.js
Labels: retired, type:link

#2254 Delete adfe.es.js
  src/sites/link/adfe.es.js
Labels: retired, type:link

#2255 Delete dereferer.website.js
  src/sites/link/dereferer.website.js
Labels: retired, type:link

#2256 Delete dikit.in.js
  src/sites/link/dikit.in.js
Labels: retired, type:link

#2257 Delete elde.me.js
  src/sites/link/elde.me.js
Labels: retired, type:link

#2258 Update ethi.in.js
  src/sites/link/ethi.in.js
Labels: retired, type:link

#2259 Delete fit.sh.js
  src/sites/link/fit.sh.js
Labels: retired, type:link

#2260 Delete fundurl.com.js
  src/sites/link/fundurl.com.js
Labels: retired, type:link

#2261 Delete gca.sh.js
  src/sites/link/gca.sh.js
Labels: retired, type:link

#2262 Delete go2.me.js
  src/sites/link/go2.me.js
Labels: retired, type:link

#2263 Update link4ad.com.js
  src/sites/link/link4ad.com.js
Labels: retired, type:link

#2264 Delete link5s.com.js
  src/sites/link/link5s.com.js
Labels: retired, type:link

#2265 Update linkdecode.com.js
  src/sites/link/linkdecode.com.js
Labels: retired, type:link

#2266 Delete linkdolar.xyz.js
  src/sites/link/linkdolar.xyz.js
Labels: retired, type:link

#2267 Delete linkpaid.net.js
  src/sites/link/linkpaid.net.js
Labels: retired, type:link

#2268 Delete dapat.in.js
  src/sites/link/dapat.in.js
Labels: retired, type:link

#2269 Delete cf.ly.js
  src/sites/link/cf.ly.js
Labels: retired, type:link

#2270 Update coeg.in.js
  src/sites/link/coeg.in.js
Labels: retired, type:link

#2271 Update bc.vc.js
  src/sites/link/bc.vc.js
Labels: retired, type:link

#2279 koylinks.win
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2280 new domain tr.link
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2283 Update openload.co.js
  src/sites/file/openload.co.js
Labels: enhancement, type:file

#2284 taive.in
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2295 payshorturl.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2296 oturl.com & loadurl.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2297 vinaurl.net
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2298 lopte.pro
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2303 man2pro.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2309 urltips.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2310 raolink.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link
