Repository adsbypasser/adsbypasser, pull requests merged in 2019-01, with the labels that each got.

#2698 Add linku.us
  src/sites/link/linkdrop.net.js
Labels: enhancement, pr_merged, type:link

#2699 Add idsly.org
  src/sites/link/linkdrop.net.js
Labels: enhancement, pr_merged, type:link

#2691 Change safelinkconverter.com regex
  src/sites/link/sylnk.net.js
Labels: enhancement, retired, type:link

#2697 Add .vscode to .gitignore
  .gitignore
Labels: enhancement

#2707 Add giga74.com
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2708 Add shln.pw
  src/sites/link/linkdrop.net.js
Labels: enhancement, pr_merged, type:link

#2709 add cuee.io
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2722 Add multiimg.com
  src/sites/image/reklama.js
Labels: enhancement, pr_merged, type:link

#2733 added new openload tld
  src/sites/file/openload.co.js
Labels: enhancement, pr_merged, type:file

#2748 Add fopkodiak.site and xxx.fopkodiak.site
  src/sites/image/fopkodiak.site.js
  src/sites/image/xxx.fopkodiak.site.js
Labels: enhancement, type:image
