Repository adsbypasser/adsbypasser, pull requests merged in 2019-04, with the labels that each got.

#2958 Update openload.co.js
  src/sites/file/openload.co.js
Labels: bug, pr_merged, type:file

#2904 Create gamemod.pro.js
  src/sites/link/gamemod.pro.js
Labels: enhancement, pr_merged, type:link

#2985 Update openload.co.js
  src/sites/file/openload.co.js
Labels: enhancement, type:file

#2984 fix for pimpandhost.com
  src/sites/image/pimpandhost.com.js
Labels: bug, type:image

#3010 added another shortzon domain agradarpan.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, type:link

#2996 fix for pimpandhost.com (2nd attempt)
  src/sites/image/pimpandhost.com.js
Labels: bug, type:image
