Repository adsbypasser/adsbypasser, pull requests merged in 2019-02, with the labels that each got.

#2771 Add technlab.com & wibuindo.xyz
  src/sites/link/sylnk.net.js
Labels: enhancement, type:link

#2773 Add 123link.vip & 1idsly.com
  src/sites/link/linkdrop.net.js
Labels: enhancement, pr_merged, type:link

#2786 Update imgvip.net.js
  src/sites/image/imgvip.net.js
Labels: bug, pr_merged, type:image

#2788 Update imgsee.me.js
  src/sites/image/imgsee.me.js
Labels: enhancement, pr_merged, type:image

#2796 Hotfix for imgfile.net
  src/sites/image/imgvip.net.js
Labels: bug, pr_merged, type:image

#2807 [bug] Wicr.me: Click continue button if it is already enabled
  src/sites/link/linkdrop.net.js
Labels: bug, type:link
