Repository adsbypasser/adsbypasser, pull requests merged in 2019-05, with the labels that each got.

#3024 ecleneue.com (adf.ly variant)
  src/sites/link/adf.ly.js
Labels: bug, type:link

#3025 Mirrored fix
  src/sites/file/mirrorcreator.com.js
Labels: bug, type:file

#3086 Update imagebam.com.js
  src/sites/image/imagebam.com.js
Labels: bug, type:image
