Repository adsbypasser/adsbypasser, pull requests merged in 2021-04, with the labels that each got.

#3614 Update mirrorace.com.js
  src/sites/file/mirrorace.com.js
Labels: bug, type:file

#3626 add support for imageking.xyz
  src/sites/image/imgvip.net.js
Labels: enhancement, type:image

#3642 fix #3192 imagevenue
  src/sites/image/imagevenue.js
Labels: bug, type:image

#3637 Add support for imgweng.xyz
  src/sites/image/imgvip.net.js
Labels: enhancement, type:image

#3641 adds vipr.im
  src/sites/image/imagetwist.js
Labels: enhancement, type:image

#3644 add fotokiz + pics4you
  src/sites/image/imgsee.me.js
Labels: enhancement, type:image
