Repository adsbypasser/adsbypasser, pull requests merged in 2023-12, with the labels that each got.

#3958 Update mihalism.js
  src/sites/image/mihalism.js
  src/sites/image/picturedent.org.js
Labels: enhancement, type:image, pr_merged

#3957 Update reklama.js
  src/sites/image/22pixx.xyz.js
  src/sites/image/reklama.js
Labels: enhancement, type:image, pr_merged

#3963 Create adshnk.com.js
  src/sites/link/adshnk.com.js
Labels: enhancement, type:link, pr_merged

#3961 Update screenlist.ru
  src/sites/image/imagenetz.de.js
  src/sites/image/screenlist.ru.js
Labels: type:image, retired, pr_merged

#3971 Update /sites/link
  src/sites/link/adb.ug.js
  src/sites/link/adfoc.us.js
  src/sites/link/bc.vc.js
  src/sites/link/mylink.us.js
  src/sites/link/shortlinkto.site.js
  src/sites/link/shrink-service.it.js
Labels: enhancement, type:link, retired, pr_merged

#3973 Update linkhandler.js
  src/sites/link/fc.lc.js
  src/sites/link/linkhandler.js
Labels: type:link, retired, pr_merged

#3976 Delete freeimgup.com.js
  src/sites/image/freeimgup.com.js
Labels: type:image, retired, pr_merged

#3975 Update uploadhaven.com.js
  src/sites/file/uploadhaven.com.js
Labels: bug, type:file, pr_merged

#3979 Update imgair.net.js
  src/sites/image/imgair.net.js
Labels: enhancement, type:image, pr_merged

#3980 Delete iiv.pl.js
  src/sites/link/iiv.pl.js
Labels: type:link, retired, pr_merged

#3983 Update imagebam.com.js
  src/sites/image/imagebam.com.js
Labels: type:image, pr_merged

#3984 Fix cutpaid.com
  src/sites/link/cutpaid.com.js
  src/sites/link/linkhandler.js
Labels: bug, type:link, pr_merged

#3985 Update mihalism.js
  src/sites/image/miragepics.com.js
Labels: pr_merged

#3987 Code updates
  src/sites/image/abload.de.js
  src/sites/image/depic.me.js
  src/sites/image/hostingpics.js
  src/sites/image/imageban.ru.js
  src/sites/image/ipic.su.js
Labels: bug, enhancement, type:image, retired, pr_merged

#3995 Update nmac.to.js
  src/sites/link/nmac.to.js
Labels: bug, type:link, pr_merged

#3994 Delete lonelymoon.net.js
  src/sites/link/lonelymoon.net.js
Labels: type:link, retired, pr_merged

#3993 Update cpmlink.net
  src/sites/link/cpmlink.net.js
  src/sites/link/shink.me.js
Labels: enhancement, type:link, pr_merged

#3996 Delete ad7.biz.js
  src/sites/link/ad7.biz.js
Labels: type:link, retired, pr_merged

#3997 Update 1ink.cc.js
  src/sites/link/1ink.cc.js
Labels: bug, type:link, pr_merged

#3998 Delete leechpremium.link.js
  src/sites/link/leechpremium.link.js
Labels: type:link, retired, pr_merged

#3999 Rename sh.st.js to shorte.st.js
  src/sites/link/shorte.st.js
Labels: enhancement

#4003 Update imagebam.com.js
  src/sites/image/imagebam.com.js
Labels: bug, type:image, pr_merged

#4002 Update imgdawgknuttz.com.js
  src/sites/image/imgdawgknuttz.com.js
Labels: enhancement, type:image, retired, pr_merged

#4004 Update imgair.net.js
  src/sites/image/imgair.net.js
Labels: enhancement, type:image

#4005 Update imagehost.at.js
  src/sites/image/2i.js
  src/sites/image/imagehost.at.js
Labels: enhancement, type:image, pr_merged

#4007 fix(core): add xray vision proxy back
  src/util/platform.js
Labels: bug

#4009 fix: check script handler
  infra/userscript/metadata.template.js
  src/util/platform.js
Labels: bug

#4011 Update sites/image
  src/sites/image/imagebam.com.js
  src/sites/image/imageban.ru.js
  src/sites/image/imgdawgknuttz.com.js
  src/sites/image/imx.to.js
Labels: bug, type:image
