Repository adsbypasser/adsbypasser, pull requests merged in 2023-10, with the labels that each got.

#3829 Merge branch 'master' into develop
  package-lock.json
  package.json
Labels: pr_merged, dependencies

#3818 Add supports for imgstar.eu
  src/sites/image/imgsee.me.js
Labels: enhancement, type:image, pr_merged

#3822 Update imgvip.net.js
  src/sites/image/imgvip.net.js
Labels: bug, type:image

#3842 Update linkdrop.net.js
  src/sites/link/linkdrop.net.js
Labels: type:link, retired, pr_merged

#3843 Remove several dead sites
  src/sites/image/funkyimg.js
  src/sites/image/goimagehost.com.js
  src/sites/image/imadul.com.js
  src/sites/image/imagezilla.js
  src/sites/image/imgmass.com.js
  src/sites/image/imgvault.pw.js
  src/sites/image/javtor.com.js
  src/sites/image/picshare.geenza.com.js
  src/sites/image/radikal.ru.js
  src/sites/image/subirimagenes.com.js
Labels: retired, pr_merged

#3841 Delete tinyurl.is.js
  src/sites/link/tinyurl.is.js
Labels: type:link, retired, pr_merged

#3837 Delete dino.js
  src/sites/image/dino.js
Labels: type:image, retired, pr_merged

#3836 Delete imgbabes.com.js
  src/sites/image/imgbabes.com.js
Labels: type:image, retired, pr_merged

#3850 Delete embedupload.com.js
  src/sites/file/embedupload.com.js
Labels: retired, type:file, pr_merged

#3849 Delete linkduit.net.js
  src/sites/link/linkduit.net.js
Labels: type:link, retired, pr_merged

#3848 Update sylnk.net.js
  src/sites/link/sylnk.net.js
Labels: type:link, retired, pr_merged

#3847 Update linkdrop.net.js
  src/sites/link/linkdrop.net.js
Labels: type:link, retired, pr_merged

#3854 Update src/sites/file
  src/sites/file/akoam.net.js
  src/sites/file/coolrom.com.js
  src/sites/file/dl-protect.com.js
  src/sites/file/elsfile.org.js
  src/sites/file/fileproject.com.br.js
  src/sites/file/insurance-waifu.cf.js
  src/sites/file/jheberg.net.js
  src/sites/file/multifilemirror.com.js
  src/sites/file/multiupfile.com.js
  src/sites/file/mylinkgen.com.js
  src/sites/file/putlocker.com.js
  src/sites/file/upmirror.info.js
  src/sites/file/vidto.me.js
  src/sites/file/zupload.me.js
Labels: retired, type:file, pr_merged

#3855 Update indishare.org.js
  src/sites/file/indishare.org.js
Labels: retired, type:file, pr_merged

#3857 Fix postimg.cc
  src/sites/image/ifotos.pl.js
  src/sites/image/postimg.js
Labels: bug, type:image, pr_merged

#3856 Update src/sites/image
  src/sites/image/all-poster.ru.js
  src/sites/image/bilder-upload.eu.js
  src/sites/image/ewa.ac.js
  src/sites/image/fotolink.su.js
  src/sites/image/fullimg.com.js
  src/sites/image/ima.so.js
  src/sites/image/image2you.ru.js
  src/sites/image/imageban.js
  src/sites/image/imageshost.ru.js
  src/sites/image/imagesnake.com.js
  src/sites/image/img.3ezy.net.js
  src/sites/image/img1.imagilive.com.js
  src/sites/image/imgbar.net.js
  src/sites/image/imgfantasy.js
  src/sites/image/lostpic.net.js
  src/sites/image/overdream.cz.js
  src/sites/image/pic-money.ru.js
  src/sites/image/picstream.tv.js
  src/sites/image/qrrro.com.js
  src/sites/image/s-jav.com.js
  src/sites/image/xxx.fopkodiak.site.js
Labels: type:image, retired, pr_merged

#3861 Update mirrored.to.js
  src/sites/file/mirrored.to.js
Labels: bug, type:file, pr_merged

#3865 Fix realsht.mobi
  src/sites/link/realsht.mobi.js
Labels: bug, type:link

#3864 Update linkdrop.net.js
  src/sites/link/linkdrop.net.js
Labels: type:link, retired

#3871 Update imagebam.com.js
  src/sites/image/imagebam.com.js
Labels: bug, type:image

#3869 Create multiup.io.js
  src/sites/file/multiup.io.js
Labels: enhancement, type:file, pr_merged

#3868 Create 1link.club.js
  src/sites/link/1link.club.js
Labels: enhancement, type:link, pr_merged

#3862 Update sylnk.net.js
  src/sites/link/boost.ink.js
  src/sites/link/get-click2.blogspot.com.js
  src/sites/link/leechpremium.link.js
  src/sites/link/lonelymoon.net.js
  src/sites/link/sylnk.net.js
Labels: type:link, retired, pr_merged

#3872 Update spaste.com.js
  src/sites/link/spaste.com.js
Labels: bug, type:link, pr_merged

#3863 Update src/sites/link
  src/sites/link/cpmlink.net.js
  src/sites/link/cshort.org.js
  src/sites/link/fas.li.js
  src/sites/link/gsurl.me.js
  src/sites/link/javlibary.com.js
  src/sites/link/linkshrink.net.js
  src/sites/link/ouo.io.js
  src/sites/link/probusinesshub.com.js
  src/sites/link/seomafia.net.js
  src/sites/link/thinfi.js
  src/sites/link/ur.ly.js
Labels: type:link, retired, pr_merged

#3875 Update imagetwist.netlify.app.js
  src/sites/link/imagetwist.netlify.app.js
Labels: bug, type:image

#3878 Delete picpic.online.js
  src/sites/image/picpic.online.js
Labels: type:image, retired

#3877 Update mihalism.js
  src/sites/image/mihalism.js
Labels: type:image, retired

#3876 Update and rename imghost.club.js to starimage.club.js
  src/sites/image/imghost.club.js
  src/sites/image/starimage.club.js
Labels: type:image, retired, pr_merged

#3879 Create tezzpic.com.js
  src/sites/image/tezzpic.com.js
Labels: enhancement, type:image, pr_merged
