Repository adsbypasser/adsbypasser, pull requests merged in 2024-03, with the labels that each got.

#4041 Update xxxwebdlxxx.org.js
  src/sites/image/xxxwebdlxxx.org.js
Labels: bug, type:image, pr_merged

#4049 Update sites/image
  src/sites/image/acidimg.cc.js
  src/sites/image/fotokiz.com.js
  src/sites/image/outletpic.com.js
Labels: enhancement, type:image, pr_merged

#4042 Update linkhandler.js
  src/sites/link/linkhandler.js
Labels: enhancement, type:link, pr_merged

#4050 Added spacetica.com support
  CHANGELOG.md
  SITES.md
  src/sites/link/spacetica.com.js
Labels: enhancement, type:link, pr_merged
