Repository adsbypasser/adsbypasser, pull requests merged in 2024-12, with the labels that each got.

#4072 Fix imx
  src/sites/image/acidimg.cc.js
Labels: bug, type:image, pr_merged

#4073 New code updates
  src/sites/image/abload.de.js
  src/sites/image/directupload.eu.js
  src/sites/image/imageup.ru.js
  src/sites/image/imgbase.ru.js
  src/sites/image/imgking.co.js
  src/sites/image/starimage.club.js
  src/sites/image/thotimg.xyz.js
Labels: bug, pr_merged

#4075 Add ryuugames.com and techstudify.com site support
  src/sites/link/ryuugames.com.js
  src/sites/link/techstudify.com.js
Labels: enhancement, type:link, pr_merged

#4076 Code Updates
  src/sites/link/1v.to.js
  src/sites/link/ctr.sh.js
  src/sites/link/mylink.us.js
  src/sites/link/noriskdomain.com.js
  src/sites/link/paylinnk.com.js
  src/sites/link/shink.me.js
  src/sites/link/shortly.xyz.js
Labels: type:link, retired, pr_merged
