Repository adsbypasser/adsbypasser, pull requests merged in 2024-02, with the labels that each got.

#4028 Create dlink3.com.js
  src/sites/link/dlink3.com.js
Labels: enhancement, type:link, pr_merged

#4031 Update tezzpic.com.js
  src/sites/image/outletpic.com.js
Labels: enhancement, type:image, pr_merged

#4032 Add otomi-games.com support
  src/sites/link/otomi-games.com.js
Labels: enhancement, type:link, pr_merged

#4035 Update imgtraffic.com.js
  src/sites/image/imgtraffic.com.js
Labels: enhancement, type:image, pr_merged

#4036 Added linegee.net support
  SITES.md
  src/sites/link/linegee.net.js
Labels: enhancement, type:link
